{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
    <div class="date">
        {{ post.published_date }}
    </div>
{% endif %}
        <h1>{{ post.title }} <small>{{ post.timestamp }}</small></h1>
        <center>
        {% if post.image %}
        <img src="{{ post.image.url }}" align="center" class="img-responsive" />
        {% endif %}
        </center>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}"><span class="glyphicon glyphicon-share">Publikasikan</span></a>
     <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
     <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
     {% else %}
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Tambah Comment</a>
{% endif %}
    </div>
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
        <div class="comment">
            <div class="date">
                {{ comment.created_date }}
                {% if not comment.approved_comment %}
                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove-sign"></span></a>
                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}
            </div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        {% endif %}
    {% empty %}
        <p>Tidak Ada Comments :(</p>
    {% endfor %}
</div>
{% endblock %}