{% extends 'blog/base.html' %}

{% block content %}
    <div class="row">
   <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 100%">
<!-- Indicators -->
<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
    {% for post in posts %}
    {% if forloop.counter == 1 %}
    <div class="item active">
    {% else %}
    <div class="item">
    {% endif %}
        <img src="{{ post.image.url }}" alt="Image" width="460" height="345">
  <div class="carousel-caption">
    <h3>{{ post.title }}</h3>
  </div>
    </div>
    {% endfor %}
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br>
<table>
    <div class="post">
    {% for post in posts %}
    {% if forloop.counter == 1 %}
<tr>
<td width="25%">
<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
<p split=".">{{ post.text|linebreaksbr|truncatewords:20 }}</p>
</td>
{% elif forloop.counter == 2 %}
<td width="25%">
<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
<p split=".">{{ post.text|linebreaksbr|truncatewords:20 }}</p>
</td>
{% elif forloop.counter == 3 %}
<td width="25%">
<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
<p split=".">{{ post.text|linebreaksbr|truncatewords:20 }}</p>
</td>
{% else %}
<td width="25%">
<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
<p split=".">{{ post.text|linebreaksbr|truncatewords:20 }}</p>
</td>
</tr>
</div>
{% endif %}
{% endfor %}
</table>
</div>
{% endblock content %}